<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        {% if e_message %}
            <h1 style="color: red">
                {{ e_message }}
            </h1>
        {% endif %}
        {% if s_message %}
            <h1 style="color: green">
                {{ s_message }}
            </h1>
        {% endif %}
        <form action="{% url 'login' %}" method="post" autocomplete="new-password">
            {% csrf_token %}
            <input name="username" type="text"/>
            <input name="password" type="password"/>
            <input type="submit" value="Login"/>
        </form>
        <h3>Not have an account?</h3>
        <a href="{% url 'register' %}" >Register</a>
    </body>
</html>