<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        {% if message %}
            <h1 style="color: red">
                {{ message }}
            </h1>
        {% endif %}
        <h1>Form for registration</h1>
        <form method="post" >
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username:<span style="color: red">*</span></td>
                    <td><input type="text" name="username" required /></td>
                    <td>At least 5 characters with letters, digits and @/./+/-/_ only</td>
                </tr>
                <tr>
                    <td>Password:<span style="color: red">*</span></td>
                    <td><input type="password" name="password_1" required /></td>
                    <td>At least 8 characters. Not entirely numeric. Letters, digits and @/./+/-/_ only</td>
                </tr>
                <tr>
                    <td>Password Confirm:<span style="color: red">*</span></td>
                    <td><input type="password" name="password_2" required /></td>
                </tr>
                <tr>
                    <td>E-mail:<span style="color: red">*</span></td>
                    <td><input type="text" name="email" required /></td>
                    <td>Valid e-mail only.</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Register" /></td>
                </tr>
            </table>
        </form>
        <a href="{% url 'homepage' %}">Back</a>
    </body>
</html>